<!-- your html code here -->
<div class="contact">
    <div class="titulo">
        <h1>
            Contact
        </h1>
    
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quam expedita commodi id modi incidunt asperiores officia nulla. Tempore eum quis ab deleniti odit nobis adipisci reiciendis nulla sunt tempora?
        </p>
    </div>


    <form>
        <div class="mb-3 d-flex justify-content-between">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3  d-flex justify-content-between">
          <label for="exampleInputPassword1" class="form-label">Your message</label>
          <input type="text" class="form-control comment" id="exampleInputPassword1">
        </div>
        <div class="cajaBoton">
            <button type="submit" class="btn btn-primary boton">Submit</button>
            
        </div>
      </form>

</div>