<div class="row first-heading">
<hr>

<div class="row p-5" style="height: 50vh;">
    <div class="col-lg-7 col-sm-12 col-md-12 p-4">

      <div class="tittle mt-5">
        <h1 class="d-inline">This First Heading </h1>
        <h1 class="d-inline text-secondary">Will Catch Your Eye</h1>

      </div>

      <p>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores id maiores doloremque
        architecto
        fugiat totam saepe quaerat, nesciunt illo sint optio porro earum rem alias culpa delectus impedit.
        Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, est iste deleniti atque quisquam
        fugit quasi. Pariatur fugit, harum nulla nihil eum accusamus dicta ipsa voluptatem saepe, reiciendis nobis
        recusandae. Lorem ipsum dolor sit
      </p>
    </div>
    <div class="col-lg-5 col-sm-12 col-md-12 d-flex justify-content-center">
      <img src="/website/assets/img/1.jpg" class="rounded-circle" alt="...">
    </div>
  </div>