<div class="row p-5" style="height: 50vh;">
    <div class="col-8 p-4">

        <h1 class="d-inline">This First Heading </h1>
        <h1 class="d-inline text-secondary">Will Catch Your Eye</h1>


        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores id maiores doloremque architecto
            fugiat totam saepe quaerat, nesciunt illo sint optio porro earum rem alias culpa delectus impedit.
            Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, est iste deleniti atque quisquam
            fugit quasi. Pariatur fugit, harum nulla nihil eum accusamus dicta ipsa voluptatem saepe, reiciendis nobis
            recusandae. Lorem ipsum dolor sit</p>
    </div>
    <div class="col-4 d-flex justify-content-center pt-5">
        <img src="https://images.cults3d.com/rvz3F0nHywfr9bflsmloI6vmC1k=/516x516/https://files.cults3d.com/uploaders/16967966/illustration-file/add64d4b-fddf-4838-aee6-7f717840c0f0/heisenberg.png"
            class="rounded-circle w-50 h-60" alt="...">
    </div>
</div>