<div class="container">
  <div>
    <h1 style:>Portfolio</h1><br>
    <p style="font-size:larger">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
  </div>

  <div class="">
    <div class="row">

      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://via.placeholder.com/700x400/FFB6C1/000000" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
        </div>
      </div>
  
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://via.placeholder.com/700x400/FFB6C1/000000" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
        </div>
      </div>
  
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://via.placeholder.com/700x400/FFB6C1/000000" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
  
</div>