<hr>

<div class="container services d-flex col-10">

  <div class="row align-items-center justify-content-center">
    <div class="col-4 col-sm-12 col-md-4">
      <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="pic2">
    </div>

    <div class="col-8 col-sm-12 col-md-8">

      <h1>This Second Heading <span class="colored-title">Is Pretty Cool Too</span></h1>    
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores id maiores doloremque architecto fugiat totam saepe quaerat, nesciunt illo sint optio porro earum rem alias culpa delectus impedit. Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, est iste deleniti atque quisquamfugit quasi. Pariatur fugit, harum nulla nihil eum accusamus dicta ipsa voluptatem saepe, reiciendis nobis recusandae.</p>
      
    </div>
  </div>
</div>
