<hr>
<div class="row services">

<div class="row p-5" style="height: 50vh;">
    <div class="col-lg-5 col-sm-12 col-md-12 d-flex justify-content-center">
      <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="...">
    </div>

    <div class="col-lg-7 col-sm-12 col-md-12p-4">

      <div class="tittle mt-5">

        <h1 class="d-inline">This Second Heading</h1>
        <h1 class="d-inline text-secondary">Is Pretty Cool Too</h1>

      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores id maiores doloremque
        architecto
        fugiat totam saepe quaerat, nesciunt illo sint optio porro earum rem alias culpa delectus impedit.
        Voluptatum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, est iste deleniti atque quisquam
        fugit quasi. Pariatur fugit, harum nulla nihil eum accusamus dicta ipsa voluptatem saepe, reiciendis nobis
        recusandae. Lorem ipsum dolor sit
      </p>
    </div>

  </div>